# Gradle
/build/
/.gradle/

# IntelliJ IDEA – 忽略整个 .idea，但强制保留共享配置
/.idea/*
!.idea/.gitignore
!.idea/encodings.xml
!.idea/vcs.xml
!.idea/gradle.xml
!.idea/misc.xml

# IntelliJ 其他临时文件
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Mac OS
.DS_Store

# 通用输出目录
/out/
/bin/